/* header.... */
nav{
    background-image:  url('../images/banner/banner1.png');
    
    background-repeat: no-repeat;
    width: 1200px;
    height: 808px;
    text-align: right;
    /* padding-right: 400px; */
    padding-right: 230px;
    padding-top: 130px;
}

/* h1-decoration. */
.nav-title{
    font-weight: 700;
    font-size: 65px;
    /* padding: 216px 0  0; */
    padding: 80px 0 0;
    padding-left: 600px;
    font-family: 'Work Sans', sans-serif;
}

/* peragraph-decoration.. */
.nav-description{
    color: #444343;
    /* padding: 20px 0 0; */
    padding-left: 680px;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;
}
/* button-decoration.. */
.primary-button{
    margin-top: 32px;
    width: 160px;
    height: 64px;
    background-color: rgb(255, 115, 0);
    border: 0;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 17px;
}
/* main-teg-decoration:--step2.. */

.main{
    padding-left: 700px;
    width: 416px;
    height: 400px;
    margin-top: -380px;
    margin-left: 125px;
}
.person{
    margin: 131px 0 0 150px ;
}
.h-title{
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 40px;
}
.title-description{
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding-top: 10px;
}
.sub-title{
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

/* section decoration */
.My-Plans{

}
.section-title{
    font-weight: 700;
    font-size: 30px;
    padding-left: 600px;
    padding-top: 130px;
    font-family: 'Work Sans', sans-serif;
}
.skill{

}
.skill-container{
    display: flex;
    /* margin-top: 130px; */
    margin-left: 320px;
    gap: 86px;
}
.skill-title{
    font-weight: 700;
    font-size: 15px;
    font-family: 'Work Sans', sans-serif;
    padding-top: 10px;
}
.skill-description{
    color: #737272;
    font-weight: 500;
    font-size: 16px;
    margin-top: 0;
}
/* section.... */
.section{
    background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%), url('../images/watch.png');
    background-repeat: no-repeat;
    width: 1140px;
    height: 300px;
    text-align: left;
    margin-left: 230px;
    margin-top: 130px;
}
.section-form{
    padding-top: 60px;
    padding-left: 65px;
    padding-right: 700px;
}
.section-header{
    font-weight: 700;
    font-size: 25px;
    font-family: 'Work Sans', sans-serif;
    color: #FFFFFF;
}
.btn-primary{
    margin-top: 25px;
    padding: 20px 36px;
    font-weight: 600;
    font-size: 15px;
    font-family: 'Work Sans', sans-serif;
    color: #F15B22;
    border-radius: 5px;
    border: 0;
}
/* footer... */
/* contact-styles */
.contact{
    display: flex;
    gap: 300px;
    background: #151414;
    margin-top: 130px;
    /* margin-left: 200px; */
    width: 1600px;
    height: 577px;
    color: #F8F8F8;
    font-family: 'Work Sans', sans-serif;
}
.footer-title{
    text-align: left;
    padding-top: 130px;
    padding-left: 230px;
    padding-right: 230px;
}
.ftr-title{

}
.icons{
    padding-top: 20px;
}
h3{
    font-weight: 700;
    font-size: 35px;
}
p{
    font-weight: 500;
    font-size: 16px
}
li{
    font-weight: 400;
    font-size: 16px;
}
.contact a{
    text-decoration: none;
}
/* .......... */
.form-contact{
    padding-top: 130px;
    padding-right: 350px
}
.ftr-title{
    width: 123px;
    height: 29px;
    font-weight: 600;
    font-size: 20px;
}
input{
    height: 20px;
    /* width: 20px; */
    padding-top: 10px;
    padding-bottom: 10px;
    border-color: #FFFFFF;
    border-radius: 5px;
    background-color: #151414;
    color: #F3F3F3;
    
    /* padding-left: 20px; */
}
.button-primary{
    width: 150.11px;
    height: 40px;
    margin-top: 16px;
    border-radius: 5px;
    color: #F15B22;
}